<a href="https://colab.research.google.com/github/entc-17-fyp-20/WPF_Data_Visualization/blob/main/ar_arima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import plotly.express as px
import plotly.graph_objects as go
%matplotlib inline
from pandas import to_datetime

import itertools
import warnings

import datetime
from datetime import datetime
warnings.filterwarnings('ignore')

In [134]:
url1='https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20June%2010%20sec%20data.csv'
df=pd.read_csv(url1,encoding='latin-1')
df=df.head(10000)

In [135]:
sel_df=df[['Date & Time','Active Power kW']]
sel_df['Date & Time']=pd.to_datetime(sel_df['Date & Time'],format="%d/%m/%Y %H:%M:%S")
sel_df["Active Power kW"] = sel_df['Active Power kW'].apply(pd.to_numeric)
#sel_df['Date & Time']
#sel_df.tail()

In [136]:
sel_df.describe()

       Active Power kW
count     10000.000000
mean        369.777910
std         133.248699
min         -22.700000
25%         279.175000
50%         365.950000
75%         455.900000
max         764.300000

In [137]:
#fig1=px.line(sel_df,x='Date & Time',y='Active Power kW')
#fig1.show()

In [138]:
sel_df.set_index("Date & Time",inplace=True)

In [139]:
sel_df

                     Active Power kW
Date & Time
2021-06-02 00:00:00            385.9
2021-06-02 00:00:10            299.0
2021-06-02 00:00:20            344.3
2021-06-02 00:00:30            426.5
2021-06-02 00:00:40            546.0
...                              ...
2021-06-03 03:45:50            355.0
2021-06-03 03:46:00            315.6
2021-06-03 03:46:10            315.0
2021-06-03 03:46:20            299.9
2021-06-03 03:46:30            281.2

[10000 rows x 1 columns]

In [140]:
sel_df_mean=sel_df.rolling(window=25).mean()
sel_df_mean

                     Active Power kW
Date & Time
2021-06-02 00:00:00              NaN
2021-06-02 00:00:10              NaN
2021-06-02 00:00:20              NaN
2021-06-02 00:00:30              NaN
2021-06-02 00:00:40              NaN
...                              ...
2021-06-03 03:45:50          332.976
2021-06-03 03:46:00          331.752
2021-06-03 03:46:10          329.912
2021-06-03 03:46:20          329.032
2021-06-03 03:46:30          328.280

[10000 rows x 1 columns]